{% extends 'base.html.twig' %}

{% block body %}

    <div class="card card-1">
        <div class="headercard">
            <p>Ajouter Une Liste</p>
        </div>
        <div class="contentcard">
            <p onclick='div_show()'>+</p>
        </div>
    </div>


    <form method="post" id="contactForm">
        Nom<input type="text" name="nom">
        <input class="formBtn" type="submit" />
    </form>


    {% for list in liste %}

        <div class="card card-1">
            <div class="headercard">
                <p> {{ list.nom }}</p>
                <small><p class="time">{{ list.date|date("Y-m-d H:i:s")}}</p></small>
            </div>
            <div class="contentcard">
                <p>image</p>
            </div>
        </div>

    {% endfor %}



<script>

    function div_show() {
        document.getElementById('contactForm').style.display = "block";
    };
    function div_hide(){
        document.getElementById('contactForm').style.display = "none";
    };

</script>
{% endblock %}
