{% extends "::base.html.twig" %}

{% block body %}

    <form method="post" class="emailform">
        Entrez l'email de la personne à qui vous souhaitez partager<br/><br/>
        Email<input type="email" name="email">
        <input class="formBtn" type="submit" />
    </form>

{% endblock %}
